@font-face {
  font-family: 'optima_ltregular';
  src: url('lte50019-webfont.woff2') format('woff2'),
       url('lte50019-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* @import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);
/* CENTERING */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/* /end */
body {
  background-image: url(fondo3.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

h3 {
  position: relative;
  left: 45%;
}

/* THE FRONT */
.front {
  background-image: url(logotipo.jpg);
  background-size: cover;
	border-bottom-right-radius: 20px 20px;
	border-top-left-radius: 20px 20px;
	box-shadow: 0px 5px 25px 5px #A8DFE0;
}

/* /end */
/* THE BACK */
.back {
  background-image: url(logogdetras.jpg);
  background-size: cover;
	border-bottom-left-radius: 20px 20px;
	border-top-right-radius: 20px 20px;
	box-shadow: 0px 5px 25px 5px #a8dfe0;
}
.back h1, .back p, .back .font-a-icons {
  color: #000;
  font-family: "optima_ltregular" "Raleway" Georgia, 'Times New Roman', Times, serif ;
  margin-left: 30%;
  line-height: 90%;
}
.back h1 {
  margin-top: 7%;
  font-size: 3.1em;
  font-weight: 100;
}

.back p {
  margin-top: 2%;
  font-size: 2em;
  font-weight: 350;
  padding-bottom: 15px;
  width: 45%;
  border-bottom: 2px solid #000;
  bottom: 2em;
}
.back .bold {
  font-weight: bold;
}
.back .font-a-icons {
  margin-top: 5%;
}
.back .icon-group {
  margin-top: 3%;
}
.back .font-a-icons span, .back .font-a-icons .link, .back .font-a-icons .fa, .back .font-a-icons a {
  color: #000;
}
.back .font-a-icons .fa {
  font-size: 1.3em;
}
.back .font-a-icons span, .back .font-a-icons a {
  font-size: 1.7em;
}
.back .font-a-icons a, .back .font-a-icons .website {
  text-decoration: blink;
}
.back .font-a-icons a:hover, .back .font-a-icons .website:hover {
  color: #ff1f1f;
}

.back .icon-box {
  position: relative;
  color: #f00;
  font-size: 24px;
  height: 45px;
  width: 45px;
  padding: 5px;
  top: 40px;
  left: 40%;
  display: inline-block;
  border: 2px solid #f00;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;  
  -moz-transition: all ease 0.5s;
  transition: all ease 1s;
}
.back .icon-box:hover {
  box-shadow: 5px 5px 9px 2px #6f0606;
  background-color: red;
  color: #ffffff;
}

/* /end */
/* THE FLIP EFFECT */
/* entire container, keeps perspective */
.flip-container {
  perspective: 3000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-container, .front, .back {
  height: 400px;
  width: 686px;
}

.flipper {
  transition: 1.3s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
}

.front {
  z-index: 2;
  /* firefox 31 */
  transform: rotateY(0deg);
}

.back {
  background-color: #000;
}

.back {
  transform: rotateY(180deg);
}

.vertical.flip-container {
  position: relative;
}

.vertical .back {
  transform: rotatey(180deg);
}

.vertical.flip-container .flipper {
  transform-origin: 50% 400x;
}

.vertical.flip-container:hover .flipper {
  transform: rotateX(180deg);
}